body {
  background-color: #ffffff; /* blanco */
  color: #333; /* texto gris oscuro */
  font-family: Arial, sans-serif;
}

#vis svg {
  font-family: Arial, sans-serif;
  font-size: 11px;
}

.label {
  fill: #333;
  font-weight: bold;
}



